.prev::after {
    content: "<";
    font-weight: var(--font-weight-bold);
}

.next::after {
    content: ">";
    font-weight: var(--font-weight-bold);
}

.pageNumber {
    margin: 2px;
    padding: 5px;
    width: 30px;
    cursor: pointer;
}

.active {
    background-color: var(--primary-color);
    color: var(--text-color-reverse);
    border-radius: 5px;
}
