.burger {
    display: none;
}

@media (max-width: 960px) {
    .burger {
        display: block;
    }
}

.burgerButton {
    font-size: 24px;
    color: var(--background-color);
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
}

.menu {
    position: absolute;
    top: 127px;
    right: 0;
    width: 250px;
    background: var(--background-color);
    border: 1px solid #ddd;
    box-shadow: 0 2px 2px 2px 2px var(--text-color);
    padding: 20px;
    z-index: 1000;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}
