.bookmark {
    background-color: var(--bookmark-color);

    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.bookmarkActive {
    background-color: var(--bookmarkActive-color);
}

.icon {
    width: 25px !important;
    height: 25px !important;
}
