.container {
    border: 1px solid var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
    width: 100%;
    margin: 0 auto;
    height: 135px;

    background-color: var(--cards-color);
    width: 100%;
}

.container > section {
    cursor: pointer;
}

.containerWithInner {
    padding: 20px 10px;
    max-width: 100%;
}

.containerWithInner > section {
    display: flex;
}

.container > section > img:first-child {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.artist {
    color: var(--primary-color);
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h3 {
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 1470px) {
    .h3,
    .artist {
        max-width: 150px;
    }
}

@media (max-width: 750px) {
    .h3,
    .artist {
        max-width: 250px;
    }
}

@media (max-width: 470px) {
    .h3,
    .artist {
        max-width: 150px;
    }
}
