.container {
    padding: 16px;
    width: 762px;
    border-radius: 16px;
    background-color: #3939390d;
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    align-items: center;

    margin: 20px 0;
}

.container input {
    width: 100%;
}

.icon {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .container {
        width: 700px;
    }
}

@media (max-width: 960px) {
    .container {
        max-width: 90%;
    }
}
