.title {
    margin: auto;
    text-align: center;
}

.title span {
    text-decoration: underline;
}

.titleText {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
    text-align: center;
    margin: 120px 0 70px 0;
}

@media (max-width: 768px) {
    .titleText {
        font-size: var(--font-size-medium);
    }
}

.highlight {
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
}

.here {
    display: block;
    text-align: center;
    font-weight: var(--font-weight-bold);
}

.favorites {
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorites img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
